# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Javascript
node_modules

# Output
.output
.svelte-kit/
build
dist/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db
*.db-wal
*.db-shm

result
